.bg_bland{
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: darken, luminosity;
}
.banner_title{
    color: white !important;
    font-size: 60px;
}
.banner_text{
    color: white !important;
}

.carousel-caption{
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

/* .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -0.75rem !important;
    left: 15%;
    padding-top: 0.25rem !important;
    padding-bottom: 1.25rem !important;
    color: #fff;
    text-align: center;
} */